TELEGRAM_BOT_TOKEN=1234568:ABCD-ef-gh
TELEGRAM_CHAT_ID=12345678
VIDEO_SOURCE=rtsp://login:password@192.168.1.100:554/stream1
MODEL_XML=/path/to/intel/person-vehicle-bike-detection-2002/FP32/person-vehicle-bike-detection-2002.xml
PARKING_TOTAL_SPOTS=50
PARKING_INITIAL_FREE_SPOTS=1
IN_DIRECTION=top_to_bottom
CLIP_ANNOTATE=1
SAVE_RAW_CLIP=1
